[submodule "config/awesome/lain"]
	path = config/awesome/lain
	url = https://github.com/lcpz/lain.git
[submodule "config/awesome/awesome-freedesktop"]
	path = config/awesome/freedesktop
	url = https://github.com/terceiro/awesome-freedesktop.git
[submodule "config/awesome/awesome-copycats"]
	path = config/awesome/themes
	url = https://github.com/lcpz/awesome-copycats.git
[submodule "config/awesome/awesome-wm-widgets"]
	path = config/awesome/awesome-wm-widgets
	url = https://github.com/streetturtle/awesome-wm-widgets.git
